{{ if .Params.categories }}
  <span class="fas fa-folder" aria-hidden="true"></span>&nbsp;
  {{ range $index, $category := .Params.categories }}
    {{ if gt $index 0 }}
      {{ i18n "comma" }}
    {{ end }}

    <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}.html" rel="category tag">
      {{ . }}
    </a>
  {{ end }}
{{ end }}

{{ if .Params.tags }}
  <br />
  <span class="fas fa-tag" aria-hidden="true" ></span>&nbsp;
  {{ range $index, $tag := .Params.tags }}
    {{ if gt $index 0 }}
      {{ i18n "comma" }}
    {{ end }}

    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}.html" rel="tag">
      {{ . }}
    </a>
  {{ end }}
{{ end }}