:root {
  --black: #000001;
  --burgundy: #333e3e;
  --dark-background: #332e2e;
  --light-background: #807678;
  --white: #FFFFFF;
  --gray: #C6C9C8;
  --yellow: #FFD400;
  --purple: #7e5c8a;
  --red: #c5623e;
  --dark-blue: #4e5275;
  --light-green: #ebfff0;
  --light-blue: #D9f0ff;
}

a {
  color: var(--dark-blue);
}
a:hover {
  color: var(--black);
  text-decoration: none;
}

html, body {
  font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
  color: var(--burgundy);
  background: var(--gray);
  line-height: 1.75em;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--light-background);
  font-family: 'Pridi', Georgia, 'Times New Roman', Times, serif;
  text-shadow: -1px 1px 3px rgba(255,255,255,0.1);
}

.blog-masthead {
  padding-top: 0.35em;
  margin-bottom: 0;
  background: var(--black);
}

.blog-header .container .row > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer.blog-footer {
  font-size: 0.8em;
  color: var(--gray);
  background: var(--black);
  border-top: 1px solid var(--purple);
}

footer.blog-footer a {
  text-transform: uppercase;  
  color: var(--background-color);
}

.sidebar-module-inset {
  background: none;
}

article > header > h2 {
  font-size: 2rem;
}
.blog-header h2.blog-post-title {
  color: var(--white);
}
.blog-header img {
  width: 100%;
  border-radius: 30rem;
}
.article-header img {
  margin: 2rem 0;
}
h2.blog-post-title {
  font-weight: 500;
  font-size: 1.7em;
}

.blog-post-meta {
  margin: 0.5rem 0 1rem;
  color: var(--dark-background);
}
.blog-post-meta a {
  color: var(--white);
}
.blog-post-meta a:hover {
  color: var(--black) !important;
  text-decoration: none;
}

.shortcode--twitch {
  margin: 2rem 0;
}

article p {
  margin-bottom: 1em;
}
div.highlight > pre {
  overflow: hidden;
  padding: 1rem;
  box-shadow: 1px -1px 4px rgba(0,0,0,0.25);
}
div.highlight > pre:hover {
  overflow: auto;
}
.blog-post {
  margin-bottom: 1.5rem;
}

.blog-header .blog-post-meta{
  font-size: 0.7em;
  opacity: 0.4;
}

.blog-main {
  overflow: hidden;
  padding-bottom: 8rem;
}

.blog-main .blog-post-meta {
  color: var(--light-background);
  font-size: 0.7em;
}
.blog-main .blog-post-meta a {
  color: var(--dark-background);
  opacity: 0.7;
}
.blog-main .blog-post-meta a:hover {
  opacity: 1.0;
}

/* Different on homepage */

.blog-header {
  padding: 0.5rem 0;
  background: var(--dark-background);
}
body.home .blog-header {
  padding: 3rem 0;
  min-height: 15rem;
}

section.sidebar-module {
  padding-top: 0.2em;
  padding-bottom: 2rem;
}

.blog-title {
  color: var(--white);
  font-size: 1.4rem;
  opacity: 0.5;
}
body.home .blog-title {
  font-size: 4rem;
  opacity: 1;
}
.blog-post-meta {
  text-transform: uppercase;
  color: var(--gray);
}
article div.highlight { padding: 0 }

#twitch-embed {
  margin: 1rem 0 2rem;
  width: 420px;
  height: 240px;
  background: var(--gray);
}
body.home #twitch-embed {
  width: 420px;
  height: 240px;
}
#twitch-embed iframe {
  box-shadow: 2px -2px 3px rgba(0,0,0,0.4);
}

.blog-masthead nav a {
  color: var(--white);
  padding: 0.25em 0 0.5rem;
  margin: 0 1rem;
  font-size: 0.7em;
  text-transform: uppercase;
  opacity: 0.5;
}
.blog-masthead nav a:hover,
.blog-masthead nav a.active {
  opacity: 1;
}
.blog-masthead nav a::after {
  color: var(--dark-background);
}

hr {
  margin: 2rem 0;
  opacity: 0.3;
}

.sharing-icons {
  font-size: 0.5em;
}

.sidebar-module ol li {
  margin-bottom: 0.5em;
}

.sidebar-module.tags a {
  display: inline-block;
  padding: 0.1em 0.5em; margin: 0.4em 0.2em;
  font-size: 0.8em;
  word-break: keep-all;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  background: var(--light-background);
  opacity: 0.5;
}
.sidebar-module.tags a:hover {
  opacity: 1;
}
.sidebar-module.tags a .count{
  color: var(--gray);
  margin-left: 0.25em;
  opacity: 0.8;
}
.sidebar-module.tags a.all {
  display: inline-block;
  clear: left;
  color: var(--dark-background);
  background: 0;
}
.sidebar-module.tags {
}
.sidebar-module.tags h4 {
  width: 100%;
}

code {
  color: #880e4c;
}

article {
  padding-bottom: 2.5rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
article h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

article h3 {
  margin-top: 1.25rem;
  font-size: 1.25rem;
}

.inline-svg {
  display: inline-block;
  height: 1.15rem;
  width: 1.15rem;
  top: -0.15rem;
  margin: 0 0.25rem;
  position: relative;
}

article blockquote {
  padding: 0.5rem 1rem 0;
  background: rgba(0,0,0,0.1);
}
article blockquote:before {
  content: open-quote;
  display: block;
  margin-bottom: 0.5rem;
}
article blockquote:after {
  content: close-quote;
  display: block;
  text-align: right;
}

figure img { margin-bottom: 0; }
figcaption {
  font-size: 0.6em;
  font-weight: 600;
}

/*
I'm willing to risk a lawsuit, because these things
are annoying as hell and are breaking the whole
internet experience. I use Google Analytics like
everyone else, I'm not tracking you... I'm just trying
to figure out what content people find interesting
so I can focus on things that help people.
So kill me.
*/
#cookie-notification { display: none; } 